<%= render :partial => 'header'  if params[:request_path].blank? %>
<%= form_for :item, :url => "#{gwbbs_doc_path(@item)}#{gwbbs_params_set}", :html => {:method => :put, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= required_head %><%= doc_size_usage_rate %>

<%= render :partial => @title.gwbbs_form_name + 'form', :locals => {:f => f} %>
<%= render :partial => 'form', :locals => {:f => f} %>

<%= gwboard_recognizer_form(f, @item) if @title.recognize.to_s == '1' %>
<%= gwboard_recognizer_form_type2(f, @item) if @title.recognize.to_s == '2' %>

<div class="submitters">
  <% if @title.use_free_public %>
    <div id="item_recog_select3" style="display:inline;" >
    <%  if @item.state == 'public' && is_read_check?  %>
      <input id="<%= f.object_name %>_submit_public" name="commit" onclick="return my_submit('public', 'edit');" type="submit" value="公開" />
    <% else %>
      <input id="<%= f.object_name %>_submit_public" name="commit" onclick="return my_submit('public', 'new');" type="submit" value="公開" />
    <% end %>
    </div>
  <% end %>
  <% if @title.recognize.to_s == '1' %>
    <input id="<%= f.object_name %>_submit_recognize" name="commit" onclick="return my_submit('recognize', 'edit');" type="submit" value="承認待ち" />
  <% end %>

  <% if @title.recognize.to_s == '2' %>
    <div id="item_recog_select2" style="display:none;" >
    <input id="<%= f.object_name %>_submit_recognize" name="commit" onclick="return my_submit('recognize', 'edit');" type="submit" value="承認待ち" />
    </div>
  <% end %>

  <% unless @title.draft_forbidden %>
    <input id="<%= f.object_name %>_submit_draft" name="commit" onclick="return my_submit('draft', 'edit');" type="submit" value="下書き保存" />
  <% end %>
  <% if params[:request_path].present? %>
    <%= hidden_field_tag :request_path, request.path_info %>
    <input id="<%= f.object_name %>_submit_draft" name="commit" onclick="return my_submit('close', 'new');" type="submit" value="閉じる" />
  <% end %>
  <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="" />
</div>

<%= render :partial => 'hidden_form' %>

<% end %>

<%if @title.recognize.to_s == '2'%>
<script language = "JavaScript" type="text/javascript">
<!--
  var sel_class1 = function() {
    idx =  radio_selected('item[category4_id]')
    switch (idx) {
    case 1:
      $('item_recog_select1').setStyle("display : none;");
      $('item_recog_select2').setStyle("display : none;");
      $('item_recog_select3').setStyle("display : inline;");
      break;
    case 2:
      $('item_recog_select1').setStyle("display : inline;");
      $('item_recog_select2').setStyle("display : inline;");
      $('item_recog_select3').setStyle("display : none;");
    break;
    }
  }
sel_class1();
-->
</script>
<% end %>
