<% _path = '/_attachs/gwcircular/'%>
<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= tool_tiny_mce(mce_base_url, {:leftbar_mode=>true}) %>
<%= raw(gw_js_include_full) %>
<%= raw(%Q(<div class="notice">#{required(flash[:notice])}</div>)) unless flash[:notice].blank? %>
&nbsp;<%= required_head %>
<table class="show bbsText">
  <tr>
    <th>
      <%= t('activerecord.attributes.gwcircular/doc.title') %><%= raw(required('※')) %> ( <%= t('activerecord.attributes.gwcircular/doc.title') %>は140文字以内で入力してください )
    </th>
  </tr>
  <tr>
    <td><%= f.text_area :title, :cols => '140', :rows=>"1", :style => 'width:100%; height:45px'%></td>
  </tr>
  <tr>
    <th>回覧記事</th>
  </tr>
  <tr>
    <td class="mceEditor">
      <%= f.text_area :body, :class => 'mceEditor' %>
    </td>
  </tr>
</table>

<%= gwcircular_attachments_form(f, @item)%>

<%= hidden_field_tag("item[state]", @item.state, :id=>"item_state") %>
<%= hidden_field_tag("item[confirmation]", 1, :id=>"item_confirmation") %>

<table class="show">
  <tr>
    <th><%= Gwcircular::Doc.human_attribute_name(:spec_config) %></th>
    <td><%= f.select :spec_config, @item.spec_config_name%></td>
  </tr>
  <tr>
    <th>回覧期限日時<%= raw(required('※')) %></th>
    <td>
      <%= f.calendar_date_select :expiry_date, :value => safe{@item.expiry_date.strftime("%Y-%m-%d %H:%M")}, :time => true, :onkeydown => "return BlockEnter(event);" %>
    </td>
  </tr>
  <%# if @title.importance == 1 %>
  <tr>
    <th>ステータス</th>
    <td><%= f.radio_buttons :importance, @item.importance_states_select, :class => 'state'  %></td>
  </tr>
  <%# end %>
</table>

<%= render(:partial => '/gwcircular/admin/commissions/form')%>
<%= raw(render(:partial => 'form_script')) %>

<%= hidden_field_tag(:cond, params[:cond]) unless params[:cond].blank? %>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
  var supressBeforeUnload = false;

  window.onbeforeunload = function( event ) {
    if (!supressBeforeUnload) {
      event = event || window.event;
      event.returnValue = "保存していない場合、編集中の内容は失われます";
      return "保存していない場合、編集中の内容は失われます";
    }
  }
//]]>
</script>
