<%= render :partial => 'folder_name' %>
<%= required_head %>

<%= form_for :item, :url => "/doclibrary/folders/#{@item.id}?title_id=#{params[:title_id]}&state=#{params[:state]}&cat=#{params[:cat]}&grp=#{params[:grp]}&gcd=#{params[:gcd]}", :html => {:method=>:put, :multipart => true, :id => 'itemForm'} do |f| %>

  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="submitters">
    <input id="item_submit" name="commit" onclick="my_submit('edit');" type="button" value="確定する" />
  </div>

<% end %>
<script type="text/javascript">
//<![CDATA[
var my_submit = function(state) {
  var admin_g = $('item_admin_groups_json');
  var admin = $('item_admins_json');
  var reader_g = $('item_reader_groups_json');
  var reader = $('item_readers_json');

  var admin_auth = JSON.parse(admin_g.value).length == 0 && JSON.parse(admin.value).length == 0
  var reader_auth = JSON.parse(reader_g.value).length == 0 && JSON.parse(reader.value).length == 0
  if (admin_auth) {
    alert('グループ管理権限、もしくは個人管理権限を設定してください。');
    return false;
  }
  if (reader_auth) {
    alert('グループ閲覧権限、もしくは個人閲覧権限を設定してください。');
    return false;
  }

  switch (state) {
  case "create":
    var res = confirm('<%= I18n.t('rumi.doclibrary.submit.f_create_confirm') %>');
    if(res == true ){
      FreezeScreen('<%= I18n.t('rumi.doclibrary.submit.f_create') %>');
    } else {
      return false;
    }
    break;
  case "edit":
    var res = confirm('<%= I18n.t('rumi.doclibrary.submit.f_edit_confirm') %>');
    if(res == true ){
      FreezeScreen('<%= I18n.t('rumi.doclibrary.submit.f_edit') %>');
    } else {
      return false;
    }
    break;
  default:
    FreezeScreen('<%= I18n.t('rumi.freezescreen.default') %>');
    break;
  }
  $('item_submit').disabled = true;
  $('itemForm').submit();
}
function FreezeScreen(msg) {
  scroll(0,0);
  var outerPane = document.getElementById('FreezePane');
  var innerPane = document.getElementById('InnerFreezePane');
  if (outerPane) {
    outerPane.className = 'FreezePaneOn';
    var h = Math.max.apply( null, [document.body.clientHeight ,
                                   document.body.scrollHeight,
                                   document.documentElement.scrollHeight,
                                   document.documentElement.clientHeight] )  + 'px';
    outerPane.style.height = h;
  }
  if (innerPane) innerPane.innerHTML = msg;
}
//]]>
</script>
